.chat{

}
.chat-window{
    border: 1px solid #CCC;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;

}
#form-chat-msg-body-element{
    height: 100px;
}
#navbar-msg-counter{
    font-size: 0.8em;
    color: #FFF;
    vertical-align:baseline;
    position:relative;
    line-height:1;
    top: -.2em;
    margin-left: 3px;

}
.chat-msg{
    float: left;
    width: 98%;
    padding: 5px;
}
.chat-msg-avatar{
    float: left;
    width: 30px;
    height: 30px;
    padding: 5px 10px 5px 0;
}
.chat-msg-body{
    float: left;
}
.chat-msg-time{
    float: right;
    padding: 10px 0 0 0;
    font-size: 0.87em;
}
.chat-msg-action{
    float: right;
    padding: 10px 0 0 0;
    width: 30px;
    text-align: center;
}
.chat-msg-preview {
    background: #FFF;
    float: left;
    width: 98%;
    border: 1px solid #CFCFCF;
    cursor: pointer;
}
.chat-msg.unviewed{
    background: #EDF1F5;
}
.chat-msg-preview .chat-msg-action{
    display: none;
}
.chat-msg-preview  .chat-msg-time{
    margin-right: 10px;
}