body#login form{
    max-width: 520px;
    margin: 0;
}

body#login form .form-actions{
    margin: 0;
}

body#login #wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -235px;
    float: none;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.7);
}

body#login #content{
    padding: 10px;
}
body#login{
    background: url(../img/bg.png);
}