#user_profile .title b{
    font-size: 20px;
}
#user_profile a.login {
    font-size: 2em;
    text-decoration: none;
    color: #999;
    margin: 0 5px;
    border-bottom: 1px dotted #999;
}
#user_profile a.login:hover{
    border-bottom: none;
    text-decoration: underline;
}