body.theme-Default{
    color: #222;
    background: url(../img/bg.png) repeat top left;
}
#body{
    background: #FFF;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000;
}
#content{
    padding: 20px;
}