.l0{
    margin-left: 0px;
}
.l1{
    margin-left: 20px;
}
.l2{
    margin-left: 40px;
}
.l3{
    margin-left: 60px;
}
.l4{
    margin-left: 80px;
}
.l5{
    margin-left: 100px;
}
.l6{
    margin-left: 120px;
}
.l7{
    margin-left: 140px;
}
.l8{
    margin-left: 160px;
}
.l9{
    margin-left: 180px;
}
.l10{
    margin-left: 200px;
}
ul.list li{
    list-style: url(../img/li.gif);
    padding: 5px;
    list-style-position: inside;
}
ul.list div.name{
    display:inline;
}
ul.list div.controls{
    display:inline;
}
ul.dd-list{
    list-style: none;
    margin: 0;
}
ul.dd-list li{
    list-style: none;
    padding: 10px;
}
ul.dd-list .name{
    float: left;
    width: 300px;
}
.controls{
}
ul.dd-list .item .handler{
    cursor: move;
}