.l0, table td.l0{
    padding-left: 0px;
}
.l1, table td.l1{
    padding-left: 5px;
}
.l2, table td.l2{
    padding-left: 20px;
}
.l3, table td.l3{
    padding-left: 35px;
}
.l4, table td.l4{
    padding-left: 50px;
}
.l5, table td.l5{
    padding-left: 65px;
}
.l6, table td.l6{
    padding-left: 80px;
}
.l7, table td.l7{
    padding-left: 95px;
}
.l8, table td.l8{
    padding-left: 110px;
}
.l9, table td.l9{
    padding-left: 125px;
}
.l1, table td.l10{
    padding-left: 140px;
}