.l0, table td.l0{
    margin-left: 0px;
}
.l1, table td.l1{
    margin-left: 10px;
}
.l2, table td.l2{
    margin-left: 30px;
}
.l3, table td.l3{
    margin-left: 50px;
}
.l4, table td.l4{
    margin-left: 70px;
}
.l5, table td.l5{
    margin-left: 90px;
}
.l6, table td.l6{
    margin-left: 110px;
}
.l7, table td.l7{
    margin-left: 130px;
}
.l8, table td.l8{
    margin-left: 150px;
}
.l9, table td.l9{
    margin-left: 170px;
}
.l10, table td.l10{
    margin-left: 190px;
}