/* 
    Document   : markitup
    Created on : 18.05.2012, 13:37:17
    Author     : Dima
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

