.comment{
    padding: 10px 10px 0;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.comment-info{
    margin: 5px 0;
}
.comment-info span.comment-author{
    font-size: 1.2em;
}
.comment.post-author .comment-info span.comment-author{
    font-weight: bold;
}
.comment-body{
    padding: 10px;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
}
.comment .comment-ip{
    font-size: 0.8em;
    color: #CCC;
}
.comment-action{
    padding: 5px 0;
}
.comment-add{
    text-align: center;
    margin: 10px 10px;
}
.comment-anchor {

}
#form-comment div.avatar{
    float: left;
    margin-top: -10px;
    margin-right: 8px;
    position: relative;
}
#form-comment div.avatar img{
}
#comment-top-angle{
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 14px solid #FFF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -10px;
    left: 10px;
}
.comment-preview{
    float: left;
    width: 100%;
    border: 1px dotted #CCC;
    background: #FFF;
    border-radius: 5px;
    margin: 0 0 20px 0;
}
.comment.new{
    border: 1px solid #15B0FD;
    border-radius: 5px;
}

.comment form{
    margin: 0;
}
.comment form textarea{
    padding: 10px;
    margin: 0;
}
.comment.hidden{
    border: 1px solid pink;
}
.comments-new{
}
#comments-updater{
    position: fixed;
    right: 0;
    top: 50%;
    height: 100px;
    margin-top: -50px;
    width: 40px;
}
#comments-updater a{
    cursor: pointer;
    text-align: center;
    display: block;
}
#comments-updater #comments-updater-director{

}
#comments-updater #comments-updater-handler{
    background: #EBEBEB url(../img/update.gif) no-repeat center center;
    height: 40px;
}
#comments-updater #comments-updater-handler.active{
    background: #EBEBEB url(../img/update.active.gif) no-repeat center center;
}
#comments-updater #comments-updater-counter{

}