.theme ul.menu {
    margin: 0;
}
.theme ul.menu li{
    list-style: none;
    float: left;
    margin: 0 5px 0 5px;
}

.region {
    border: 1px dashed #CCC;
    margin: 2px;
    padding: 5px;
}

.widget{
    position: relative;
    display: inline-block;
}
.widget > .edit{
    position: absolute;
    top: -2px;
    right: -16px;
    -webkit-transition:  all 0.5s ease;
    -moz-transition:  all 0.5s ease;
    -o-transition:  all 0.5s ease;
    transition:  all 0.5s ease;
}
.widget > .edit:hover{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
.region-widget.disabled{
    border: 1px dashed #CCC;
}
.region-widget a{
    cursor: pointer;
}