#install_menu ul li{
    list-style: none;
}
#install_menu ul li {
    padding: 10px;
}
#install_menu ul li.active{
    background: #f4f4f4;
    border: 1px solid #CCC;
    border-radius: 3px;
}
#install_menu ul li a{
    text-decoration: none;
}
#requirements tr td:last-child{
    text-align: center;
}