.widget {
    position: relative;
}
.widget .sh{
    margin: 0;
}
.region{
    border: 1px dotted #CCC;
    border-radius: 5px;
    padding:25px 10px 10px 10px;
    position: relative;
    min-height: 100px;
    margin: 5px;
}
.region-name{
    position: absolute;
    top: 0;
    left: 5px;
    color: #CCC;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}
.region:hover .region-name{
    display: block;
}
.region-controls{
    position: absolute;
    top: 5px;
    right: 5px;
}
.widget-controls{
    position: absolute;
    top: 5px;
    right: 5px;
}
[data-original-title]{
    cursor: pointer;
}