/*.tabs ul{*/
    /*margin:0 0 20px;*/
    /*padding:0 3px;*/
    /*float: left;*/
    /*width: 100%;*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/
/*.tabs ul:after{*/
	/*clear: both;*/
	/*display: table;*/
    /*content: "";*/
/*}*/
/*.tabs ul li{*/
    /*list-style: none;*/
    /*float: left;*/
    /*padding: 5px 15px;*/
    /*color: #333333 !important;*/
    /*display: inline-block;*/
    /*margin:3px 5px 0 0;*/
    /*text-shadow: 0 1px 0 #FFFFFF;*/
    /*cursor: pointer;*/
    /*font-size: 1.1em;*/
/*}*/
/*.tabs ul li.fl_r{*/
    /*float: right;*/
/*}*/
/*.tabs ul li a{*/
    /*color: #000;*/
    /*text-decoration: none;*/
    /*text-shadow: 1px 1px 1px #fff;*/
    /*border-bottom: 1px dotted #999;*/
/*}*/
/*.tabs ul li.active a{*/
    /*border: none;*/
/*}*/
/*.tabs ul li.active{*/
    /*background-color: #F2F2F2;*/
    /*background-image: -moz-linear-gradient(0% 100% 90deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));*/
    /*border-color: #CACACA;*/
    /*border-radius: 5px 5px 0 0;*/
    /*border-style: solid !important;*/
    /*border-width: 1px;*/
    /*border-bottom: 0;*/
    /*box-shadow: 0 0 0 transparent inset;*/
/*}*/
/*.tabs ul li:hover a{*/
    /*border-bottom: none;*/
    /*text-decoration: underline;*/
/*}*/

ul.tabs, ul.pills {
  margin: 5px 0 20px;
  padding: 0;
  zoom: 1;
}
ul.tabs:before,
ul.pills:before,
ul.tabs:after,
ul.pills:after {
  display: table;
  content: "";
}
ul.tabs:after, ul.pills:after {
  clear: both;
}
ul.tabs li, ul.pills li {
  display: inline;
}
ul.tabs li a, ul.pills li a {
  float: left;
  width: auto;
}
ul.tabs {
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
}
ul.tabs li a {
  margin-bottom: -1px;
  margin-right: 2px;
  padding: 0 15px;
  line-height: 35px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
ul.tabs li a:hover {
  background-color: #e6e6e6;
  border-bottom: 1px solid #bfbfbf;
}
ul.tabs li.active a {
  background-color: #fff;
  padding: 0 14px;
  border: 1px solid #ccc;
  border-bottom: 0;
  color: #808080;
}
ul.pills li a {
  margin: 5px 3px 5px 0;
  padding: 0 15px;
  text-shadow: 0 1px 1px #fff;
  line-height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
ul.pills li a:hover {
  /*background: #0050a3;*/
  background: #6fa5dd;
	/*background-color: #e6e6e6;*/
    /*border: 1px solid #bfbfbf;*/
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
ul.pills li.active a {
  /*background: #0069d6;*/
  background: #3482d2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

