[data-level="0"]{
    margin-left: 0px;
}
[data-level="1"]{
    margin-left: 20px;
}
[data-level="2"]{
    margin-left: 40px;
}
[data-level="3"]{
    margin-left: 60px;
}
[data-level="4"]{
    margin-left: 80px;
}
[data-level="5"]{
    margin-left: 100px;
}
[data-level="6"]{
    margin-left: 120px;
}
[data-level="7"]{
    margin-left: 140px;
}
[data-level="8"]{
    margin-left: 160px;
}
[data-level="9"]{
    margin-left: 180px;
}
[data-level="10"]{
    margin-left: 200px;
}
#db-trace-queries{
    background: #FFF;
}

.dd-list {
}
ul.dd-list li{
    list-style: none;
}
.dd-dragel {
    opacity: 0.8;
}
.dd-container {
    padding: 10px;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dd-item {
    position: relative;
}
.dd-item > button {
    position: absolute;
    left: -30px;
    top: 7px;
}
.dd-item .dd-handle.sh{
    cursor: move;
    margin: 0;
    line-height: 20px;
    vertical-align: baseline;
}
.dd a.sh{
    cursor: pointer;
}
.dd-placeholder{
    background: #fafafa;
    border: 1px dashed #CCC;
    padding: 10px;
    height: 20px;
    margin: 5px;
}