.alert{
    margin: 10px 0 5px 0;
}
div.jGrowl div.jGrowl-notification.alert-success{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
div.jGrowl div.jGrowl-notification.alert-info{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
div.jGrowl div.jGrowl-notification.alert-warning{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}
div.jGrowl div.jGrowl-notification.alert-error{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}