.fl_l{
    float: left;
}
.fl_r, .nav .fl_r{
    float: right;
}
.t_c {
    text-align: center;
}
.t_l{
    text-align: left;
}
.t_r{
    text-align: right;
}
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m20{
    margin: 20px;
}
.ms5{
    margin: 0 5px;
}
.ms10{
    margin: 0 10px;
}
.ms20{
    margin: 0 20px;
}
/**
* Show-Hide (sh) class for hidden controls
*/
.sh {
    float: right;
    cursor: pointer;
    margin-left: 5px;
}
.sh i{
    opacity: 0.2;
    visibility: hidden;
}

.sh:hover i{
    opacity: 1;
}
/**
* Show-Hide Holder (shd) class for hidden controls
*/
.shd:hover .sh i{
    visibility: visible;
}
.hl{
    background: #e9f2fa;
    border: 1px solid transparent;
    border-radius: 5px;
}