.vote-post{
    float:right;
}
.vote .vote-counter{
    font-size: 1.4em;
    font-weight: bold;
    color: #CCC;
}
.vote .vote-counter.positive{
    color: #7CCA4E;
}
.vote .vote-counter.negative{
    color: red;
}
.vote .sh{
    margin: 0;
    float: none;
}
.vote .active i{
    opacity: 0.45;
}
.vote .active:hover i{
    opacity: 1;
}
.comment .vote{
    float: right;
}
.comment .vote .sh{
    float: none;
}
.user_navbar .vote{
    float: right;
}