img.avatar{
   vertical-align: middle;
}
.container img.avatar{
    padding: 1px;
    border:1px solid #C4E3F6;
}
.navbar .container{
    position: relative;
}
.navbar .avatar{
    position: absolute;
    top: 0;
    left: -25px;
}
.navbar .badge{
    padding: 1px 5px 2px;
}
.user_navbar .avatar{
    vertical-align: middle;
}
.user_navbar strong a{
    font-size: 1.5em;
}
.profile .nav{
    margin: 5px 0;
}
.profile_fields{
    margin: 10px 0;
}
.profile_fields .control-group .control-label{
    font-weight: bold;
}
.profile_fields .control-group .controls{
    padding-top: 5px;
}
#form-user-lostpassword .or{
    text-align: center;
    padding: 5px 0 25px 0;
    font-weight: bold;
    font-size: 1.2em;
}
